/* here we include all this styling property to only one file i.e boilerplate.ejs here we include this to all file using egs mate npm packge */
body {
    font-family: "Plus Jakarta Sans", sans-serif !important; 
    /* from google fonts */
    display: flex;/* to make footer to stick at bottom   */
    flex-direction: column;/* to make footer to stick at bottom   */
    min-height: 100vh;/* to make footer to stick at bottom   */
}

.container{
    flex: 1;
    /* to make footer to stick at bottom   */
}

.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

/* footer */
.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-links, .f-info-social, .f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-social i {
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info {
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* card */
.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-bosy {
    padding: 0 !important;
}

.card-text p {
    font-weight: 400 !important;
}

.listing-link {
    text-decoration: none;
}


.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

.add-btn , .edit-btn {
    background-color: #fe424d !important;
    border: none !important;
}

.show-img {
    height: 30vh;
}

.btns {
    display: flex;
}

.show-card {
    padding-left: 0;
    padding-right: 0;
}

/* Map */
#map { 
    height: 400px;
    width: 80vh;
}